{exp:stash:embed:partials:header stash:nav="blog"}

<section class="content">
    <h1 class="visuallyhidden">blog posts</h1>
    <article class="blog-post">
        <header>
            <h2>blog post title</h2>
            <time pubdate>january 11, 2014</time>
        </header>
        <section class="article-body">
            <div class="white-mask">
                <img src="/assets/img/blog-pic1.jpg" alt="" />
            </div>
            <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
            </p>
        </section>
    </article>
    <article class="blog-post">
        <header>
            <h2>blog post title</h2>
            <time pubdate>january 11, 2014</time>
        </header>
        <section class="article-body">
            <div class="white-mask">
                <img src="/assets/img/blog-pic2.jpg" alt="" />
            </div>
            <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
            </p>
    </article>
    <article class="blog-post">
        <header>
            <h2>blog post title</h2>
            <time pubdate>january 11, 2014</time>
        </header>
        <section class="article-body">
            <div class="white-mask">
                <img src="/assets/img/blog-pic2.jpg" alt="" />
            </div>
            <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
            </p>
    </article>
    <article class="blog-post">
        <header>
            <h2>blog post title</h2>
            <time pubdate>january 11, 2014</time>
        </header>
        <section class="article-body">
            <div class="white-mask">
                <img src="/assets/img/blog-pic2.jpg" alt="" />
            </div>
            <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
            </p>
    </article>
</section>
{exp:stash:embed:partials:footer}
