{exp:stash:embed:partials:header stash:nav="classroom"}

   <div class="l-content l-content--centered l-content--highstack" id="message">
       <div class="text-centered">
           <h2 class="text-body text-body--display">use the <a href="#" class="icon icon-inline"><i class="icon-plus icon-plus--pink"></i></a> icons to explore classroom</h2>
       </div>
       <!-- .text-centered -->
       <button onclick="clearTimeout(timer);">stop timeout</button>
   </div>
   <!-- .l-content -->
   <div class="classroom-wrapper is-intro" id="classStage">
       <img class="classroom-layer classroom-layer--base" id="0" src="/assets/img/classroom/room1/0.jpg" alt="" />
       <img class="classroom-layer classroom-layer--section" id="1" src="/assets/img/classroom/room1/1.png" alt="" />
       <img class="classroom-layer classroom-layer--section" id="2" src="/assets/img/classroom/room1/2.png" alt="" />
       <img class="classroom-layer classroom-layer--section" id="3" src="/assets/img/classroom/room1/3.png" alt="" />
       <img class="classroom-layer classroom-layer--section" id="4" src="/assets/img/classroom/room1/4.png" alt="" />
       <div class="classroom-layer classroom-layer--black" id="blackLayer"></div>
       <div class="classroom-layer classroom-layer--icons">
            <div class="classroom-icon">
                <a class="icon" href="#1"><i class="icon-plus icon-plus--pink"></i></a>
            </div>
            <div class="classroom-icon">
                <a class="icon" href="#2"><i class="icon-plus icon-plus--pink"></i></a>
            </div>
            <div class="classroom-icon">
                <a class="icon" href="#3"><i class="icon-plus icon-plus--pink"></i></a>
            </div>
            <div class="classroom-icon">
                <a class="icon" href="#4"><i class="icon-plus icon-plus--pink"></i></a>
            </div>
       </div>
   </div> 
   <!-- .classroom-wrapper -->

{exp:stash:embed:partials:footer}
