{exp:stash:embed:partials:header stash:nav="overview"}

    <div class="content">
        <div id="gifStage" class="gif-stage">
            <img src="/assets/img/gifs/authentic.gif" class="init-gif" id="initGif">
            <img src="/assets/img/gifs/authentic.gif" id="authentic">
            <img src="/assets/img/gifs/research.gif" id="research">
            <img src="/assets/img/gifs/storefront.gif" id="storefront">
            <img src="/assets/img/gifs/adults.gif" id="adults">
            <img src="/assets/img/gifs/network.gif" id="network">
            <img src="/assets/img/gifs/nature.gif" id="nature">
            <img src="/assets/img/gifs/dots.gif" id="dots">
            <img src="/assets/img/gifs/everyone2.gif" id="everyone2">
            <img src="/assets/img/gifs/materials.gif" id="materials">
        </div>
        <p class="principles-text" id="principles">
            wildflower schools are <a href="#authentic" class="disabled">authentic montessori</a> schools. they are lab schools
            that seek to advance the montessori method through <a href="#research" class="disabled">research</a> and observation.
            neighborhood-nested, <a href="#storefront" class="disabled">shopfront schools</a> are fully integrated in the communites
            they inhabit. schools are positioned in the context of other <a href="#adults" class="disabled">adults</a>, working with
            their hands. wildflower schools blur the line between home schooling and institutions.
            wildflower employs a social process that fosters a <a href="#network" class="disabled">collaborative network</a> of
            learners and teachers. our beautiful spaces integrate <a href="#nature" class="disabled">nature</a> and engender
            respect for <a href="#materials" class="disabled">learning materials</a> and the world around us. our schools <a href="#dots" class="disabled">shape cities</a>
            they inhabit. our schools are <a href="#everyone2" class="disabled">accessible</a> to those who need them most.
        </p>
    </div>
    <!-- .overview -->
    
    <footer class="main-footer">
        <p>wildflower montessori is a project of the <a href="http://socialcomputing.media.mit.edu/" target="_blank"><span>social computing group</span></a> at the <a href="http://www.media.mit.edu/" target="_blank"><span>MIT media lab</span></a></p>
    </footer>

{exp:stash:embed:partials:footer}
