{exp:stash:embed:partials:header stash:nav="overview"}

    <div class="content">
        <div id="gifStage" class="gif-stage"></div>
        <p class="principles-text" id="principles">
            wildflower schools are <a href="#authentic">authentic montessori</a> schools. they are lab schools
            that seek to advance the montessori method through <a href="#research">research</a> and observation.
            neighborhood-nested, <a href="#storefront">shopfront schools</a> are fully integrated in the communites
            they inhabit. schools are positioned in the context of other <a href="#adults">adults</a>, working with
            their hands. wildflower schools <a href="#materials">blur the line</a> between home schooling and institutions.
            wildflower employs a social process that fosters a <a href="#network">collaborative network</a> of
            learners and teachers. our beautiful spaces integrate <a href="#nature">nature</a> and engender
            respect for learning materials and the world around us. our schools <a href="#dots">shape cities</a>
            they inhabit. our schools are <a href="#everyone2">accessible</a> to those who need them most.
        </p>
    </div>
    <!-- .overview -->
    
    <footer class="main-footer">
        <p>wildflower montessori is a project of the <a href="http://socialcomputing.media.mit.edu/" target="_blank"><span>social computing group</span></a> at the <a href="http://www.media.mit.edu/" target="_blank"><span>MIT media lab</span></a></p>
    </footer>

{exp:stash:embed:partials:footer}
