{exp:stash:embed:partials:header stash:nav="resources"}

<div class="resources-grid" id="resourcesGrid">
    <div class="thumb for-parents">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder2.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder5.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-parents">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder6.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder4.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-parents">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder2.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p></p></a>
        <img src="/assets/img/resources-placeholders/placeholder4.jpg" alt="" />
    </div>
</div>
<!-- .resources-grid -->

{exp:stash:embed:partials:footer}
