{exp:stash:embed:partials:header stash:nav="resources"}

<div class="resources-grid" id="resourcesGrid">
    <div class="thumb for-parents">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/301/301/people" alt="" />
    </div>
    <div class="thumb for-researchers lessons">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/302/302/people" alt="" />
    </div>
    <div class="thumb for-parents">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/303/303/people" alt="" />
    </div>
    <div class="thumb lessons">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/304/304/people" alt="" />
    </div>
    <div class="thumb for-parents for-researchers">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/305/305/people" alt="" />
    </div>
    <div class="thumb for-teachers lessons">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/306/306/people" alt="" />
    </div>
    <div class="thumb for-parents lessons">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/307/307/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/308/308/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/309/309/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/310/310/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/311/311/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/312/312/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/313/313/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/314/314/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/315/315/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/316/316/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/317/317/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/318/318/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/319/319/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/320/320/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/321/321/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/322/322/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/323/323/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/324/324/people" alt="" />
    </div>
    <div class="thumb">
        <a class="mask" href="{site_url}resources/resources-example"><p></p></a>
        <img class="color" src="//lorempixel.com/325/325/people" alt="" />
    </div>
</div>
<!-- .resources-grid -->

{exp:stash:embed:partials:footer}
