{exp:stash:embed:partials:header stash:nav="start-a-school"}

<section class="l-content l-content--centered">
    <h1 class="visuallyhidden">contact us</h1>
    <p class="text-centered"></p>
    <form action="#" class="form-centered form-centered--purple" id="start-a-school">
        <div class="l-inline-row">
            <div class="l-inline-8">
                <label class="label-purple" for="fullName">your name</label>
                <input class="input-purple" id="fullName" name="fullName" type="text" />
            </div>
            <div class="l-inline-1">
                <label class="label-purple" for="age">child age</label>
                <input class="input-purple" id="age" name="age" type="number" />
            </div>
        </div>
        <!-- .l-inline-row -->
        <div class="l-inline-row">
            <div class="l-inline-4">
                <label class="label-purple" for="city">city</label>
                <input class="input-purple" id="city" name="city" type="text" />
            </div>
            <div class="l-inline-1">
                <label class="label-purple" for="state">state</label>
                <input class="input-purple" id="state" name="state" type="text" />
            </div>
            <div class="l-inline-2">
                <label class="label-purple" for="zip">zip</label>
                <input class="input-purple" id="zip" name="zip" type="number" />
            </div>
            <div class="l-inline-2">
                <label class="label-purple" for="country">country</label>
                <input class="input-purple" id="country" name="country" type="text" />
            </div>
        </div>
        <!-- .l-inline-row -->
        <div class="l-inline-row">
            <div class="l-inline-4">
                <label class="label-purple" for="email">email</label>
                <input class="input-purple" id="email" name="email" type="email" />
            </div>
            <div class="l-inline-5">
                <div class="l-inline-row">
                    <div class="l-inline-auto">
                        <span class="label-purple">are you a</span>
                    </div>
                    <div class="l-inline-auto">
                        <input id="teacher" class="input-purple input-purple--inline" type="checkbox" name="role" value="teacher" />
                        <label class="label-purple label-purple--inline" for="teacher">teacher</label>
                    </div>
                    <div class="l-inline-auto">
                        <span class="label-purple">and/or</span>
                    </div>
                    <div class="l-inline-auto">
                        <input id="parent" class="input-purple input-purple--inline" type="checkbox" name="role" value="parent" />
                        <label class="label-purple label-purple--inline" for="parent">parent?</label>
                    </div>
                </div>
                <!-- .l-inline-row -->
            </div>
        </div>
        <!-- .l-inline-row -->
    </form>
    <!-- .form-centered -->
</section>
{exp:stash:embed:partials:footer}
