# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
*/static/cache/*

# Dependencies
node_modules/

# System
.DS_Store
*~
*.swp
.sass-cache
*/expressionengine/config/config.php
*/expressionengine/config/database.php

#Images

webroot/images/
