{exp:stash:embed:partials:header stash:nav="apply"}

<section class="l-content l-content--centered l-content--flex">
    <h1 class="visuallyhidden">contact us</h1>
    <div class="l-content--flex-aside right-divider">
        <a class="panel panel--hover panel--purple" href="">
            <div class="text-block hand medium">
                <h2 class="title">enroll a student</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta tortor ornare semper malesuada.
                </p>
            </div>
        <!-- .text-block -->
        </a>
        <!-- .panel -->
        <a class="panel panel--hover panel--purple" href="">
            <div class="text-block hand medium">
                <h2 class="title">start a school</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta tortor ornare semper malesuada. Cras vel leo rhoncus, bibendum orci ac, consequat dui. Fusce non semper metus.
                </p>
            </div>
        <!-- .text-block -->
        </a>
        <!-- .panel -->
        <a class="panel panel--hover panel--purple" href="">
            <div class="text-block hand medium">
                <h2 class="title">become a teacher</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta tortor ornare semper malesuada.
                </p>
            </div>
        <!-- .text-block -->
        </a>
        <!-- .panel -->
        <a class="panel panel--hover panel--purple" href="">
            <div class="text-block hand medium">
                <h2 class="title">school directory</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        <!-- .text-block -->
        </a>
        <!-- .panel -->
    </div>
    <!-- .l-content-flex-aside -->
    <div class="l-content--flex-main l-content--viewbox" id="viewer">
        <form action="#" class="form-purple">
            <h2>form 1</h2>
            <div class="toggle-box" id="errorsBox">
                <ul id="errors" class="toggle-box-list"></ul>
            </div>
            <div class="l-inline-row">
                <div class="l-inline l-inline-7">
                    <label class="label-purple" for="fullName">your name</label>
                    <input class="input-purple" id="fullName" name="fullName" required type="text"/>
                </div>
                <div class="l-inline l-inline-1 l-inline--nobreak">
                    <label class="label-purple" for="age">child age</label>
                    <input class="input-purple" id="age" name="age" pattern="\d+" required title="Enter a number, e.g. 4" type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="city">city</label>
                    <input class="input-purple" id="city" name="city" required type="text" />
                </div>
                <div class="l-inline l-inline-1">
                    <label class="label-purple" for="state">state</label>
                    <input class="input-purple" id="state" maxlength="2" name="state" pattern="[A-Za-z]{2}" required title="Enter the two-letter abbreviation, e.g. MA" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="zip">zip</label>
                    <input class="input-purple" id="zip" name="zip" pattern="\d{5}" required title="Enter the five-digit zip, e.g. 11222" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="country">country</label>
                    <input class="input-purple" id="country" name="country" required type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="email">email</label>
                    <input class="input-purple" id="email" name="email" required type="email" />
                </div>
                <div class="l-inline l-inline-5 l-inline-height50">
                    <div class="l-inline-row l-inline--low-row">
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--dark label-purple--inline">are you a</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="teacher" class="input-purple input-purple--inline" type="checkbox" name="role" value="teacher" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="teacher">teacher</label>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--inline label-purple--dark">and/or</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="parent" class="input-purple input-purple--inline" type="checkbox" name="role" value="parent" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="parent">parent?</label>
                        </div>
                    </div>
                    <!-- .l-inline-row -->
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <button class="btn btn--purple">send &gt;</button>
            </div>
        </form>
        <!-- .form-purple -->

        <form action="#" class="form-purple">
            <h2>form 2</h2>
            <div class="toggle-box" id="errorsBox">
                <ul id="errors" class="toggle-box-list"></ul>
            </div>
            <div class="l-inline-row">
                <div class="l-inline l-inline-7">
                    <label class="label-purple" for="fullName">your name</label>
                    <input class="input-purple" id="fullName" name="fullName" required type="text"/>
                </div>
                <div class="l-inline l-inline-1 l-inline--nobreak">
                    <label class="label-purple" for="age">child age</label>
                    <input class="input-purple" id="age" name="age" pattern="\d+" required title="Enter a number, e.g. 4" type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="city">city</label>
                    <input class="input-purple" id="city" name="city" required type="text" />
                </div>
                <div class="l-inline l-inline-1">
                    <label class="label-purple" for="state">state</label>
                    <input class="input-purple" id="state" maxlength="2" name="state" pattern="[A-Za-z]{2}" required title="Enter the two-letter abbreviation, e.g. MA" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="zip">zip</label>
                    <input class="input-purple" id="zip" name="zip" pattern="\d{5}" required title="Enter the five-digit zip, e.g. 11222" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="country">country</label>
                    <input class="input-purple" id="country" name="country" required type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="email">email</label>
                    <input class="input-purple" id="email" name="email" required type="email" />
                </div>
                <div class="l-inline l-inline-5 l-inline-height50">
                    <div class="l-inline-row l-inline--low-row">
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--dark label-purple--inline">are you a</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="teacher" class="input-purple input-purple--inline" type="checkbox" name="role" value="teacher" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="teacher">teacher</label>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--inline label-purple--dark">and/or</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="parent" class="input-purple input-purple--inline" type="checkbox" name="role" value="parent" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="parent">parent?</label>
                        </div>
                    </div>
                    <!-- .l-inline-row -->
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <button class="btn btn--purple">send &gt;</button>
            </div>
        </form>
        <!-- .form-purple -->

        <form action="#" class="form-purple">
            <h2>form 3</h2>
            <div class="toggle-box" id="errorsBox">
                <ul id="errors" class="toggle-box-list"></ul>
            </div>
            <div class="l-inline-row">
                <div class="l-inline l-inline-7">
                    <label class="label-purple" for="fullName">your name</label>
                    <input class="input-purple" id="fullName" name="fullName" required type="text"/>
                </div>
                <div class="l-inline l-inline-1 l-inline--nobreak">
                    <label class="label-purple" for="age">child age</label>
                    <input class="input-purple" id="age" name="age" pattern="\d+" required title="Enter a number, e.g. 4" type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="city">city</label>
                    <input class="input-purple" id="city" name="city" required type="text" />
                </div>
                <div class="l-inline l-inline-1">
                    <label class="label-purple" for="state">state</label>
                    <input class="input-purple" id="state" maxlength="2" name="state" pattern="[A-Za-z]{2}" required title="Enter the two-letter abbreviation, e.g. MA" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="zip">zip</label>
                    <input class="input-purple" id="zip" name="zip" pattern="\d{5}" required title="Enter the five-digit zip, e.g. 11222" type="text" />
                </div>
                <div class="l-inline l-inline-2">
                    <label class="label-purple" for="country">country</label>
                    <input class="input-purple" id="country" name="country" required type="text" />
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <div class="l-inline l-inline-3">
                    <label class="label-purple" for="email">email</label>
                    <input class="input-purple" id="email" name="email" required type="email" />
                </div>
                <div class="l-inline l-inline-5 l-inline-height50">
                    <div class="l-inline-row l-inline--low-row">
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--dark label-purple--inline">are you a</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="teacher" class="input-purple input-purple--inline" type="checkbox" name="role" value="teacher" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="teacher">teacher</label>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <span class="label-purple label-purple--inline label-purple--dark">and/or</span>
                        </div>
                        <div class="l-inline l-inline-auto">
                            <input id="parent" class="input-purple input-purple--inline" type="checkbox" name="role" value="parent" />
                            <label class="label-purple label-purple--inline label-purple--check label-purple--dark" for="parent">parent?</label>
                        </div>
                    </div>
                    <!-- .l-inline-row -->
                </div>
            </div>
            <!-- .l-inline-row -->
            <div class="l-inline-row">
                <button class="btn btn--purple">send &gt;</button>
            </div>
        </form>
        <!-- .form-purple -->

        <div class="text-block purple hand medium">
            <h2 class="title">school directory</h2>
            <ul>
                <li>
                    <h3 class="title">School 1</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat felis consectetur, molestie nisl eget, hendrerit leo. Etiam pretium convallis pretium. Suspendisse potenti. Cras ac augue ac enim luctus molestie.
                    </p>
                </li>
                <li>
                    <h3 class="title">School 2</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat felis consectetur, molestie nisl eget, hendrerit leo. Etiam pretium convallis pretium. Aliquam volutpat tortor id odio condimentum vehicula. Cras ac augue ac enim luctus molestie.
                    </p>
                </li>
                <li>
                    <h3 class="title">School 3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat felis consectetur, molestie nisl eget, hendrerit leo. Suspendisse potenti. Aliquam volutpat tortor id odio condimentum vehicula. Cras ac augue ac enim luctus molestie.
                    </p>
                </li>
                <li>
                    <h3 class="title">School 4</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat felis consectetur, molestie nisl eget, hendrerit leo. Etiam pretium convallis pretium. Suspendisse potenti.
                    </p>
                </li>
            </ul>
        </div>
        <!-- .text-block -->
    </div>
    <!-- .l-content-flex-main -->
</section>
<!-- .l-content -->

{exp:stash:embed:partials:footer}
