{exp:stash:embed:partials:header stash:nav="blog"}

<section>
    <h1 class="visuallyhidden">blog posts</h1>
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <div class="hidden lightbox-imgs">
                        <div><img src="/assets/img/blog-pic1.jpg" alt="" /></div>
                        <div><img src="/assets/img/blog-pic2.jpg" alt="" /></div>
                        <div><img src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" /></div>
                    </div>
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue is-lightbox"></i>
                    </a>
                    <div class="mask mask-white"></div>
                    <img class="mask-image" src="/assets/img/blog-pic2.jpg" alt="" />
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <div class="hidden lightbox-imgs">
                        <div><img src="/assets/img/blog-pic2.jpg" alt="" /></div>
                        <div><img src="/assets/img/blog-pic1.jpg" alt="" /></div>
                        <div><img src="/assets/img/resources-placeholders/placeholder2.jpg" alt="" /></div>
                    </div>
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue is-lightbox"></i>
                    </a>
                    <div class="mask mask-white"></div>
                    <img class="mask-image" src="/assets/img/blog-pic1.jpg" alt="" />
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <div class="hidden lightbox-imgs">
                        <div><img src="/assets/img/blog-pic1.jpg" alt="" /></div>
                        <div><img src="/assets/img/blog-pic2.jpg" alt="" /></div>
                        <div><img src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" /></div>
                    </div>
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue is-lightbox"></i>
                    </a>
                    <div class="mask mask-white"></div>
                    <img class="mask-image" src="/assets/img/blog-pic1.jpg" alt="" />
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <!-- .l-content-flex -->
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <div class="hidden lightbox-imgs">
                        <div><img src="/assets/img/blog-pic2.jpg" alt="" /></div>
                        <div><img src="/assets/img/blog-pic1.jpg" alt="" /></div>
                        <div><img src="/assets/img/resources-placeholders/placeholder4.jpg" alt="" /></div>
                    </div>
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue is-lightbox"></i>
                    </a>
                    <div class="mask mask-white"></div>
                    <img class="mask-image" src="/assets/img/blog-pic1.jpg" alt="" />
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <!-- .l-content-flex -->
</section>
{exp:stash:embed:partials:footer}
