{exp:stash:embed:partials:header stash:nav="blog"}

<section>
    <h1 class="visuallyhidden">blog posts</h1>
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <img class="mask-image" src="/assets/img/placeholders/1-sm.jpg" alt="" />
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue-expanded">3</i>
                    </a>
                    <div class="hidden lightbox-imgs">
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/1-lg.jpg" alt="" />
                                <!--<h3 class="ss-title">nature in the classroom</h3>-->
                                <p class="ss-caption">lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius.</p>
                            </div>
                        </div>
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/2-lg.jpg" alt="" />
                            </div>
                        </div>
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/3-lg.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="mask mask-white is-lightbox"></div>
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <!-- .l-content -->
    <article class="l-content l-content--flex">
        <div class="l-content--flex-aside">
            <header class="article-header">
                <h2>blog post title</h2>
                <time pubdate>january 11, 2014</time>
            </header>
        </div>
        <!-- .l-content-flex-aside -->
        <div class="l-content--flex-main">
            <section class="article-body">
                <div class="layout-image">
                    <img class="mask-image" src="/assets/img/placeholders/10-sm.jpg" alt="" />
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue"></i>
                    </a>
                    <div class="hidden lightbox-imgs">
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/10-sm.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="mask mask-white-vertical is-lightbox"></div>
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne.
                </p>
            </section>
            <!-- .article-body -->
        </div>
        <!-- .l-content-flex-main -->
    </article>
    <!-- .l-content -->
</section>
{exp:stash:embed:partials:footer}
