{exp:stash:embed:partials:header stash:nav="contact"}

<div class="l-content l-content--centered l-content--slim">
    <div class="resources-grid grid">
        <div class="grid-item thumb">
            <div class="grid-content">
                <img class="grid-img" src="/assets/img/sprites/flower1.jpg" alt="" />
                <h3 class="grid-header">wildflower</h3>
                <p class="grid-text">cambridge, ma</p>
                <a class="grid-link" href="http://wildflower.montessori-school.org">wildflower.montessori-school.org</a>
            </div>
        </div>
        <div class="grid-item thumb">
            <div class="grid-content">
                <img class="grid-img" src="/assets/img/sprites/flower2.jpg" alt="" />
                <h3 class="grid-header">bluebonnet</h3>
                <p class="grid-text">cambridge, ma</p>
                <a class="grid-link" href="http://bluebonnet.montessori-school.org">bluebonnet.montessori-school.org</a>
            </div>
        </div>
        <div class="grid-item thumb">
            <div class="grid-content">
                <img class="grid-img" src="/assets/img/sprites/flower3.jpg" alt="" />
                <h3 class="grid-header">wild rose</h3>
                <p class="grid-text">cambridge, ma</p>
                <a class="grid-link" href="http://wildrose.montesorri-school.org">wildrose.montesorri-school.org</a>
            </div>
        </div>
        <div class="grid-item thumb">
            <div class="grid-content">
                <img class="grid-img" src="/assets/img/sprites/flower4.jpg" alt="" />
                <h3 class="grid-header">aster</h3>
                <p class="grid-text">cambridge, ma</p>
                <a class="grid-link" href="http://aster.montessori-school.org">aster.montessori-school.org</a>
            </div>
        </div>
    </div>
</div>

{exp:stash:embed:partials:footer}
