{exp:stash:embed:partials:header}

<section class="l-content">
    <h1 class="visuallyhidden">contact us</h1>
    <div class="l-content" id="viewer">

        {exp:stash:get_list 
            orderby="id"
            sort="desc"
            name="forms"}
            {if count == 1}
            <div class="l-divider">
            {if:else}
            <div>
            {/if}
                {form}
            </div>
        {/exp:stash:get_list}

    </div>
    <!-- .l-content-flex-main -->
</section>
<!-- .l-content -->

{exp:stash:embed:partials:footer}
