{exp:stash:embed:partials:header}

<div class="l-content l-content--centered">
    <div class="text-centered text-centered--wide">
        <img id="homeImg" src="{exp:stash:image}">
        <div class="text-body text-body--purple">
            {exp:stash:text}
        </div>
        <!-- .text-body -->
    </div>
    <!-- .text-centered -->
    <ul class="grid grid--inline grid--three">
        {exp:stash:get_list name="links"}
        <li class="grid-item">
            {if count == 1}
            <a href="{url}" class="panel panel--purple">
            {if:elseif count == 2}
            <a href="{url}" class="panel panel--green">
            {if:else}
            <a href="{url}" class="panel panel--pink">
            {/if}
                <div class="text-block hand medium centered">
                    <h3 class="title">{title}</h3>
                    <p>{description}&hellip;<br>&gt;&gt;</p>
                </div>
            </a>
        </li>
        {/exp:stash:get_list}
    </ul>
</div>
<!-- .l-content -->
    
{exp:stash:embed:partials:footer}
