{exp:stash:embed:partials:header stash:nav="home"}

<div class="l-content l-content--centered">
    <div class="text-centered text-centered--wide">
        <img id="homeImg" src="/assets/img/gifs/shopfront.gif">
        <p class="text-body text-body--purple">
            wildflower is an approach to montessori leaning developed by the social computing group at the MIT media lab
        </p>
        <!-- .text-body -->
    </div>
    <!-- .text-centered -->
    <ul class="grid grid--inline grid--three">
        <li class="grid-item">
            <a href="/approach" class="panel panel--purple">
                <div class="text-block hand medium centered">
                    <h3 class="title">approach</h3>
                    <p>read more about the wildflower principles approach&hellip;<br>&gt;&gt;</p>
                </div>
            </a>
        </li>
        <li class="grid-item">
            <a href="/apply" class="panel panel--green">
                <div class="text-block hand medium centered">
                    <h3 class="title">apply</h3>
                    <p>apply for admissions, become a teacher, start a school&hellip;<br>&gt;&gt;</p>
                </div>
            </a>
        </li>
        <li class="grid-item">
            <a href="/resources" class="panel panel--pink" data-link="resources">
                <div class="text-block hand medium centered">
                    <h3 class="title">resources</h3>
                    <p>download tutorials, models, watch videos and more&hellip;<br>&gt;&gt;</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- .l-content -->
    
<footer class="main-footer" id="homeFooter">
    <p>wildflower montessori is a project of the <a href="http://socialcomputing.media.mit.edu/" target="_blank"><span>social computing group</span></a> at the <a href="http://media.mit.edu/" target="_blank"><span>MIT media lab</span></a></p>
</footer>

{exp:stash:embed:partials:footer}
