{exp:stash:embed:partials:header stash:nav="overview"}

<div class="l-content l-content--centered">
    <div id="gifStage" class="gif-stage">
        <img src="/assets/img/gifs/authentic.gif" class="init-gif" id="initGif">
        <img src="/assets/img/gifs/authentic.gif" id="authentic">
        <img src="/assets/img/gifs/research.gif" id="research">
        <img src="/assets/img/gifs/storefront.gif" id="storefront">
        <img src="/assets/img/gifs/adults.gif" id="adults">
        <img src="/assets/img/gifs/network.gif" id="network">
        <img src="/assets/img/gifs/nature.gif" id="nature">
        <img src="/assets/img/gifs/materials.gif" id="materials">
        <img src="/assets/img/gifs/dots.gif" id="dots">
        <img src="/assets/img/gifs/everyone2.gif" id="everyone2">
    </div>
    <div class="text-centered text-centered--wide">
        <p class="text-body text-body--purple" id="principles">
            wildflower schools are <a href="#authentic" class="tall-link disabled">authentic montessori</a> schools. they are lab schools
            that seek to advance the montessori method through <a href="#research" class="tall-link disabled">research</a> and observation.
            neighborhood-nested, <a href="#storefront" class="tall-link disabled">shopfront schools</a> are fully integrated in the communites
            they inhabit. schools are positioned in the context of other <a href="#adults" class="tall-link disabled">adults</a>, working with
            their hands. wildflower schools blur the line between home schooling and institutions.
            wildflower employs a social process that fosters a <a href="#network" class="tall-link disabled">collaborative network</a> of
            learners and teachers. our beautiful spaces integrate <a href="#nature" class="tall-link disabled">nature</a> and engender
            respect for <a href="#materials" class="tall-link disabled">learning materials</a> and the world around us. our schools <a href="#dots" class="tall-link disabled">shape cities</a>
            they inhabit. our schools are <a href="#everyone2" class="tall-link disabled">accessible</a> to those who need them most.
        </p>
        <!-- .text-body -->
    </div>
    <!-- .text-centered -->
</div>
<!-- .overview -->
    
<footer class="main-footer">
    <p>wildflower montessori is a project of the <a href="http://socialcomputing.media.mit.edu/" target="_blank"><span>social computing group</span></a> at the <a href="http://www.media.mit.edu/" target="_blank"><span>MIT media lab</span></a></p>
</footer>

{exp:stash:embed:partials:footer}
