{exp:stash:embed:partials:header stash:nav="resources"}

<div class="grid" id="resourcesGrid">
    <div class="grid-item grid-item--polaroid for-parents food">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>parent handbook</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/7-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-researchers">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/2-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>mural template</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/2-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid lessons">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>school models</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/8-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-parents">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>plant care</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/7-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid pdf for-parents food">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>songs to sing</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/8-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-researchers for-teachers">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>nutrition guide</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/7-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-teachers pdf">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/9-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid lessons for-teachers food">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/4-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-parents lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/8-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-parents food lessons">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/7-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid for-researchers lessons for-teachers">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/2-sm.jpg" alt="" />
    </div>
    <div class="grid-item grid-item--polaroid pdf food">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/placeholders/4-sm.jpg" alt="" />
    </div>
</div>
<!-- .grid -->

{exp:stash:embed:partials:footer}
