{exp:stash:embed:partials:header stash:nav="resources-detail"}

<section class="l-content l-content--flex-resources">
    <div class="l-content--flex-resources-aside">
        <aside class="resources-aside">
            <h2>resources detail page</h2>
            <ul class="resource-tags" id="resourceTags">
                <li><a href="/resources" class="resource-tag" data-filter="for-parents">for parents</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="for-teachers">for teachers</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="lessons">lessons</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="pdf">pdf</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="food">food</a></li>
            </ul>
            <!-- .tags -->
            <!--<button class="download blue" id="download">download pdf</button>-->
            <a href="/resources" class="back" id="backToResorces">&lt; back to resources</a>
        </aside>
        <!-- .resources-aside -->
    </div>
    <!-- .l-content-flex-resources-aside -->
    <div class="l-content--flex-resources-main">
        <main class="main">
            <div class="text-block small purple">
                <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne, equidem detracto et duo. regione vituperatoribus at ius, mea an duis reque vocibus. in his purto facer adipisci, vel in labores utroque. quo ei quod quas. ut eos expetendis elaboraret. graeco alienum honestatis mea ex, qui erat regione fuisset ad. appetere iracundia cum cu, facete quodsi mel in. ea vel ipsum dicat. te sed labitur veritus comprehensam, eam cu timeam audire adipiscing. ut est stet quas, falli senserit qui ut. in invenire interpretaris his, vim nusquam repudiare no, natum nostrud facilis ius ut. qui idque primis docendi eu, vim no erant sententiae. ei vim sale dolores, eripuit noluisse salutatus per in.
                </p>
                <div class="layout-image">
                    <img class="mask-image" src="/assets/img/placeholders/4-lg.jpg" alt="" />
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue-expanded">3</i>
                    </a>
                    <div class="hidden lightbox-imgs">
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/4-lg.jpg" alt="" />
                            </div>
                        </div>
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/3-lg.jpg" alt="" />
                            </div>
                        </div>
                        <div>
                            <div class="ss-content">
                                <img src="/assets/img/placeholders/5-sm.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="mask mask-white is-lightbox"></div>
                </div>
                <p>
                    lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne, equidem detracto et duo. regione vituperatoribus at ius, mea an duis reque vocibus. in his purto facer adipisci, vel in labores utroque. quo ei quod quas. ut eos expetendis elaboraret. graeco alienum honestatis mea ex, qui erat regione fuisset ad. appetere iracundia cum cu, facete quodsi mel in. ea vel ipsum dicat. te sed labitur veritus comprehensam, eam cu timeam audire adipiscing. ut est stet quas, falli senserit qui ut. in invenire interpretaris his, vim nusquam repudiare no, natum nostrud facilis ius ut. qui idque primis docendi eu, vim no erant sententiae. ei vim sale dolores, eripuit noluisse salutatus per in.
                    </p>
                <div class="layout-image">
                    <img class="mask-image" src="{exp:ce_img:single src="/assets/img/placeholders/sponsorweek/DSC_0152.jpg" url_only="yes" max_width="500" quality="80"}" alt="" />
                    <a href="#" class="icon icon-zoom">
                        <i class="icon-plus icon-plus--blue"></i>
                    </a>
                    <div class="hidden lightbox-imgs">
                        <div>
                            <div class="ss-content">
                                <img src="{exp:ce_img:single src="/assets/img/placeholders/sponsorweek/DSC_0152.jpg" url_only="yes" max_height="800" max_width="1200" quality="80"}" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="mask mask-white is-lightbox"></div>
                </div>
            </div>
            <!-- .text-block -->
        </main>
    <!-- main -->
    </div>
    <!-- .l-content-flex-resources -->
</section>
<!-- .content -->

{exp:stash:embed:partials:footer}
