{exp:stash:embed:partials:header}

<div class="grid" id="resourcesGrid">

    {exp:stash:get_list name="list-items"}
    <div class="grid-item grid-item--polaroid{exp:stash:get_list:nested name="categories" context="{id}"} {cat}{/exp:stash:get_list:nested}">
        <a class="mask mask1" href="{url}"><p>{title}</p></a>
        <img class="mask-image mask-image--color" src="{image}" alt="" />
    </div>
    {/exp:stash:get_list}

</div>
<!-- .grid -->

<script>
    var WF = {};
    WF.filters = [];
    {exp:channel:categories show_empty="no" category_id="1" style="linear"}
    WF.filters.push({ name: "{category_name}", selector: "{category_url_title}" })
    {/exp:channel:categories}
</script>

{exp:stash:embed:partials:footer}
