{exp:stash:embed:partials:header stash:nav="resources"}

<div class="resources-grid" id="resourcesGrid">
    <div class="thumb for-parents food">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>parent handbook</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder2.jpg" alt="" />
    </div>
    <div class="thumb lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>mural template</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder5.jpg" alt="" />
    </div>
    <div class="thumb lessons">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>school models</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-parents">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>plant care</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb pdf for-parents food">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>songs to sing</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-researchers for-teachers">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>nutrition guide</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-teachers pdf">
        <a class="mask mask3" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder6.jpg" alt="" />
    </div>
    <div class="thumb lessons for-teachers food">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder4.jpg" alt="" />
    </div>
    <div class="thumb for-parents lessons">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" />
    </div>
    <div class="thumb for-parents food lessons">
        <a class="mask mask1" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder1.jpg" alt="" />
    </div>
    <div class="thumb for-researchers lessons for-teachers">
        <a class="mask mask2" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder2.jpg" alt="" />
    </div>
    <div class="thumb pdf food">
        <a class="mask mask4" href="{site_url}resources/resources-example"><p>resources example</p></a>
        <img class="mask-image mask-image--color" src="/assets/img/resources-placeholders/placeholder4.jpg" alt="" />
    </div>
</div>
<!-- .resources-grid -->

{exp:stash:embed:partials:footer}
