{exp:stash:embed:partials:header stash:nav="resources-detail"}

<section class="l-content l-content--flex">
    <div class="l-content--flex-aside">
        <aside class="resources-aside">
            <h2>resources detail page</h2>
            <ul class="resource-tags" id="resourceTags">
                <li><a href="/resources" class="resource-tag" data-filter="for-parents">for parents</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="for-teachers">for teachers</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="lessons">lessons</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="pdf">pdf</a></li>
                <li><a href="/resources" class="resource-tag" data-filter="food">food</a></li>
            </ul>
            <!-- .tags -->
            <button class="download blue" id="download">download pdf</button>
            <a href="/resources" class="back" id="backToResorces">&lt; back to all resources</a>
        </aside>
        <!-- .resources-aside -->
    </div>
    <!-- .l-content-flex-aside -->
    <div class="l-content--flex-main">
        <main class="main">
            <p>
            lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne, equidem detracto et duo. regione vituperatoribus at ius, mea an duis reque vocibus. in his purto facer adipisci, vel in labores utroque. quo ei quod quas. ut eos expetendis elaboraret. graeco alienum honestatis mea ex, qui erat regione fuisset ad. appetere iracundia cum cu, facete quodsi mel in. ea vel ipsum dicat. te sed labitur veritus comprehensam, eam cu timeam audire adipiscing. ut est stet quas, falli senserit qui ut. in invenire interpretaris his, vim nusquam repudiare no, natum nostrud facilis ius ut. qui idque primis docendi eu, vim no erant sententiae. ei vim sale dolores, eripuit noluisse salutatus per in.
            </p>
            <div class="layout-image">
                <div class="hidden lightbox-imgs">
                    <div><img src="/assets/img/resources-placeholders/resource-example-placeholder.jpg" alt="" /></div>
                    <div><img src="/assets/img/blog-pic2.jpg" alt="" /></div>
                    <div><img src="/assets/img/resources-placeholders/placeholder3.jpg" alt="" /></div>
                </div>
                <a href="#" class="icon icon-zoom">
                    <i class="icon-plus icon-plus--blue is-lightbox"></i>
                </a>
                <div class="mask mask-white"></div>
                <img class="mask-image" src="/assets/img/resources-placeholders/resource-example-placeholder.jpg" alt="" />
            </div>
            <p>
                lorem ipsum dolor sit amet, te oportere hendrerit usu. semper possim sensibus ne pri. eos ut dicit deleniti interpretaris, his laudem civibus omittam id, id possit integre ius. rebum animal quo ex, odio recusabo voluptatum ea nam, posse interpretaris eam in. eam ea omnium iracundia, eum scripserit efficiantur consequuntur ne, equidem detracto et duo. regione vituperatoribus at ius, mea an duis reque vocibus. in his purto facer adipisci, vel in labores utroque. quo ei quod quas. ut eos expetendis elaboraret. graeco alienum honestatis mea ex, qui erat regione fuisset ad. appetere iracundia cum cu, facete quodsi mel in. ea vel ipsum dicat. te sed labitur veritus comprehensam, eam cu timeam audire adipiscing. ut est stet quas, falli senserit qui ut. in invenire interpretaris his, vim nusquam repudiare no, natum nostrud facilis ius ut. qui idque primis docendi eu, vim no erant sententiae. ei vim sale dolores, eripuit noluisse salutatus per in.
                </p>
            <div class="layout-image">
                <div class="hidden lightbox-imgs">
                    <div><img src="/assets/img/resources-placeholders/placholder2.jpg" alt="" /></div>
                </div>
                <a href="#" class="icon icon-zoom">
                    <i class="icon-plus icon-plus--blue is-lightbox"></i>
                </a>
                <div class="mask mask-white"></div>
                <img class="mask-image" src="/assets/img/resources-placeholders/placholder2.jpg" alt="" />
            </div>
            <p></p>
            <p></p>
            <p></p>
        </main>
    <!-- main -->
    </div>
    <!-- .l-content-flex-main -->
</section>
<!-- .content -->

{exp:stash:embed:partials:footer}
