.container {
    display: block;
    height: 100%;
    width: 95%;
    max-width: 865px;
    margin: 0 auto;
}

.no-touch .container {
    @include flexbox;
    @include flex-direction(column);
}

@media #{$medium-up} {
    .container.sticky {
        padding-top: 140px;
    }

    .resources .container.sticky {
        padding-top: 185px;
    }
}

.about .content {
    max-width: 670px;
    margin: 0 auto;
}

a {
    display: inline-block;
    border-bottom: 1px solid rgba($link-hover, 0);
    @include transition(border-bottom-color 150ms ease, color 150ms ease);

    &:hover {
        border-bottom-color: rgba($link-hover, 1);
    }
}

p {
    letter-spacing: 1px;
    @extend .antialiased;
}
