.container {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    width: 95%;
    max-width: 865px;
    margin: 0 auto;
    position: relative;

    .resources & {
        display: block;
    }
}

.touch .container {
    display: block;
}

@media #{$medium-up} {
    .container.sticky {
        padding-top: 140px;
    }

    .resources .container.sticky {
        padding-top: 185px;
    }
}

a {
    display: inline-block;
    border-bottom: 1px solid rgba($link-hover, 0);
    @include transition(border-bottom-color 150ms ease, color 150ms ease);

    &:hover {
        border-bottom-color: rgba($link-hover, 1);
    }
}

p {
    letter-spacing: 1px;
    @extend .antialiased;
}

 .quote {
     border: none;

     &,
     cite {
         font-family: kim;
         text-align: center;
         color: $body-text;
         font-size: rem-calc(22);
         line-height: 1.25;
         letter-spacing: 1.9px;
         padding: 0 65px;

         @extend .antialiased;
     }

     cite {
         font-style: normal;
     }
 }

button {
    @include appearance(none);
    border: none;
}
