@font-face {
    font-family: kim;
    src: url('/assets/fonts/kim.ttf') format('truetype');
    font-style: normal;
    font-size: rem-calc(16);
    font-weight: 400;
}

.overview .content {
    margin: auto;
    width: 100%;
    padding: 20px 10px;
}

@media #{$medium-up} {
    .overview .content {
        padding: 65px 25px;
    }
}

.gif-stage {
    display: none;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    height: 145px;

    img {
        display: none;
    }

    .init-gif {
        display: inline;
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
    }
}

.principles-text {
    color: $gradient1;
    text-align: center;
    font-family: kim, sans-serif;
    font-size: rem-calc(18);
    letter-spacing: 2.1px;
    line-height: 1;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 800px;

    @extend .antialiased;

    a {
        height: 18px;
    }
}

@media #{$medium-up} {
    .gif-stage {
        display: block;

        canvas {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: 0;
            @include transition(opacity 150ms);

            &.show {
                opacity: 1;
            }
        }
    }

    .principles-text {
        font-size: rem-calc(22);
        letter-spacing: 2.1px;
        line-height: 1.15;
        padding: 0;

        a {
            height: 22px;

            &.disabled {
                color: $gradient1;

                &:hover {
                    cursor: default;
                }
            }
        }
    }
}
