.l-content {
    width: 100%;
    margin: 0 auto;
    max-width: 766px;
    padding: 0 25px;
}

.l-content--centered {
    margin: auto;
    padding: 65px 25px;
}

@media #{$medium-up} {
    .l-content--flex {
        padding: 0;
        @include flexbox;
    }
    .l-content--flex-main {
        @include flex(2);
    }
    .l-content--flex-aside {
        @include flex(1);
    }
}

.layout-image {
    position: relative;
    margin-bottom: 1.25rem;
    z-index: 0;
}

.l-inline-row {
    > div {
        margin-bottom: 1rem;
    }
}
.l-inline-1 {}
.l-inline-2 {}
.l-inline-4 {}
.l-inline-5 {}
.l-inline-8 {}
.l-inline-auto {}
