.resources-grid {
    margin: 0 auto;
    max-width: 851px;
    width: 100%;
    height: 100%;
    position: relative;

    .thumb {
        //margin-left: 13px;
        margin-bottom: 20px;
        position: relative;
        height: 293px;
        overflow: hidden;
        width: 275px;
        z-index: 0;
        display: inline-block;
    }
}

@media #{$medium-up} {
    .resources-grid {
    }
}

.filters {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
    @include flex-wrap(wrap);
    @include justify-content(center);
}

.resource-filters {
    display: none;

    .resources & {
        @include flexbox;
    }
}


.filter:active,
.filter:focus {
    @extend .tag;
    background-color: rgba($category-bg, 0.2);
    color: $category-text;
}

.filter {
    @extend .tag;
    color: $category-text;
    background-color: rgba($category-bg, 0.2);

    &:hover {
        color: $category-text-hover;
        background-color: rgba($category-bg-hover, 0.2);
    }

    &.selected {
        color: $category-text-selected;
        background-color: rgba($category-bg-selected, 0.2);
    }
}

// detail page container
.resources-aside {
    font-family: kim;
    @extend .antialiased;

    h2 {
        text-align: center;
        font-family: kim;
        color: $body-text;
    }

    .resource-tags {
        @extend .filters;
        @include flexbox;
    }

    .resource-tag {
        @extend .tag;
        color: $resource-tag-text;
        background-color: rgba($resource-tag-bg, 0.2);

        &:hover {
            color: $resource-tag-text-hover;
            background-color: rgba($resource-tag-bg-hover, 0.2);
        }
    }

    .back {
        @extend .antialiased;
        color: $body-text;
        letter-spacing: 1px;
        font-size: rem-calc(16);
        margin-bottom: 15px;
    }
}

@media #{$medium-up} {
    //.resources-detail {
    //    .content {
    //        padding: 0;
    //        @include flexbox;
    //    }
    //    main {
    //        @include flex(2);
    //    }
    //}

    .resources-aside {
        //@include flex(1);

        h2 {
            font-size: rem-calc(35);
            letter-spacing: 2px;
            line-height: 0.75;
            margin-bottom: 15px;
            text-align: left;
            padding-right: 25px;
        }

        .resource-tags {
            padding-right: 25px;
            @include justify-content(flex-start);
        }

        .download {
            margin: 0;
            margin-bottom: 15px;
        }
    }
}
