<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildflower Montessori Approach</title>

        <!--<link href="/assets/css/style.concat.css" rel="stylesheet">-->
        <link href="/assets/css/style.min.css" rel="stylesheet">
        {if '{stash:nav}' == 'blog' || '{stash:nav}' == 'resources-detail'}
        {/if}
    </head>
    <body class="{stash:nav}" id="{stash:nav}">
        {if "{stash:nav}" == "classroom"}
        <div class="container container-flush sticky">
        {if:else}
        <div class="container{if "{stash:nav}" != "home"} sticky{/if}">
        {/if}
            <header class="main-header" id="mainHeader">
                <div class="wrapper">
                    <button class="menu-button" id="menuButton">&#x2261;</button>
                    <a href="{site_url}" class="undecorated">
                        <h1 class="logo" id="logo"><span>w</span><span>i</span><span>l</span><span>d</span><span>f</span><span>l</span><span>o</span><span>w</span><span>e</span><span>r</span><span> </span><span>m</span><span>o</span><span>n</span><span>t</span><span>e</span><span>s</span><span>s</span><span>o</span><span>r</span><span>i</span>
                        </h1>
                    </a>
                </div>
                <nav class="main-menu" id="nav">
                    <ul>
                        <li><a href="/"{if "{stash:nav}" == "home"} class="selected"{/if} id="homeNav">home</a></li>
                        <li><a href="/about"{if "{stash:nav}" == "about"} class="selected"{/if} id="aboutNav">about</a></li>
                        <!--<li><a href="/classroom"{if "{stash:nav}" == "classroom"} class="selected"{/if} id="classroomNav">classroom</a></li>-->
                        <li><a href="/approach"{if "{stash:nav}" == "approach" OR "{stash:nav}" == "approach-detail"} class="selected"{/if} id="approachNav">approach</a></li>
                        <li><a href="/apply"{if "{stash:nav}" == "apply"} class="selected"{/if} id="applyNav">apply</a></li>
                        <li><a href="/resources"{if "{stash:nav}" == "resources" OR "{stash:nav}" == "resources-detail"} class="selected"{/if} data-link="resources" id="resourcesNav">resources</a></li>
                        <li><a href="/blog"{if "{stash:nav}" == "blog"} class="selected"{/if} id="blogNav">blog</a></li>
                    </ul>
                </nav>
                <ul class="filters resource-filters" id="filters">
                    <li><button class="filter selected" data-filter="*">view all</button></li>
                </ul>

                {if "{stash:nav}" == "about"}
                <nav class="subnav" id="subnav">
                    <ul>
                        <li class="subnav-item"><a href="#ethos" class="selected">ethos</a></li>
                        <li class="subnav-item"><a href="#letter-to-parents">letter to parents</a></li>
                    </ul>
                </nav>
                {/if}
            </header>
            <!-- .main-header -->
