<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildflower Montessori Approach</title>

        <link href="/assets/css/style.1404841782365236646.css" rel="stylesheet">
        {if '{stash:nav}' == 'blog' || '{stash:nav}' == 'resources-detail'}
        <link href="/assets/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
        {/if}
        <script data-main="/assets/js/build/main.1404841782365236646" src="/assets/bower_components/requirejs/require.js"></script>
    </head>
    <body class="{stash:nav}" id="{stash:nav}">
        {if "{stash:nav}" == "classroom"}
        <div class="container container-flush sticky">
        {if:else}
        <div class="container{if "{stash:nav}" != "overview"} sticky{/if}">
        {/if}
            <header class="main-header" id="mainHeader">
                <div class="wrapper">
                    <button class="menu-button" id="menuButton">&#x2261;</button>
                    <a href="{site_url}" class="undecorated">
                        <h1 class="logo" id="logo"><span>w</span><span>i</span><span>l</span><span>d</span><span>f</span><span>l</span><span>o</span><span>w</span><span>e</span><span>r</span><span> </span><span>m</span><span>o</span><span>n</span><span>t</span><span>e</span><span>s</span><span>s</span><span>o</span><span>r</span><span>i</span>
                        </h1>
                    </a>
                </div>
                <menu class="main-menu" id="nav" type="toolbar">
                    <li><a href="/"{if "{stash:nav}" == "overview"} class="selected"{/if} id="homeNav">overview</a></li>
                    <li><a href="/about"{if "{stash:nav}" == "about"} class="selected"{/if} id="aboutNav">about</a></li>
                    <li><a href="/classroom"{if "{stash:nav}" == "classroom"} class="selected"{/if} id="classroomNav">classroom</a></li>
                    <li><a href="/resources"{if "{stash:nav}" == "resources" OR "{stash:nav}" == "resources-detail"} class="selected"{/if} id="resourcesNav">resources</a></li>
                    <li><a href="/blog"{if "{stash:nav}" == "blog"} class="selected"{/if} id="blogNav">blog</a></li>
                    <li><a href="/start-a-school"{if "{stash:nav}" == "start-a-school"} class="selected"{/if} id="start-a-schoolNav">start a school</a></li>
                    <li><a href="/contact"{if "{stash:nav}" == "contact"} class="selected"{/if} id="contactNav">contact</a></li>
                </menu>
                <ul class="filters resource-filters" id="filters">
                    <li><button class="filter selected" data-filter="*">view all</button></li>
                    <li><button class="filter" data-filter="for-parents">for parents</button></li>
                    <li><button class="filter" data-filter="for-teachers">for teachers</button></li>
                    <li><button class="filter" data-filter="for-researchers">for researchers</button></li>
                    <li><button class="filter" data-filter="lessons">lessons</button></li>
                    <li><button class="filter" data-filter="food">food</button></li>
                    <li><button class="filter" data-filter="pdf">pdf</button></li>
                </ul>
            </header>
            <!-- .main-header -->
