{exp:stash:set_value name="nav" value="{if segment_1}{segment_1}{if:else}home{/if}"}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildflower Montessori</title>

        <!-- link href="/assets/css/style.concat.css" rel="stylesheet">-->
        <link href="/assets/css/style.min.css" rel="stylesheet">
    </head>

    {if segment_1 == ''}
    <body class="home" id="home">
    {if:elseif segment_1 == 'summary'}
    <body class="about" id="about">
    {if:elseif segment_2 != ''}
    <body class="{segment_1}-detail" id="{segment_1}-detail">
    {if:else}
    <body class="{segment_1}" id="{segment_1}">
    {/if}
        {if segment_1 == 'classroom'}
        <div class="container container-flush sticky">
        {if:else}
        <div class="container{if segment_1 != ''} sticky{/if}">
        {/if}
            <header class="main-header" id="mainHeader">
                <div class="wrapper main-header--wrapper">
                    <button class="menu-button" id="menuButton">&#x2261;</button>
                    <a href="{site_url}" class="undecorated">
                        <h1 class="logo" id="logo"><span>w</span><span>i</span><span>l</span><span>d</span><span>f</span><span>l</span><span>o</span><span>w</span><span>e</span><span>r</span><span> </span><span>m</span><span>o</span><span>n</span><span>t</span><span>e</span><span>s</span><span>s</span><span>o</span><span>r</span><span>i</span>
                        </h1>
                    </a>
                </div>
                <nav class="main-menu" id="nav">
                    <ul>
                        <li{if segment_1 == ''} class="selected"{/if}><a href="/">home</a></li>
                        {exp:structure:nav 
                            status="not closed"
                            start_from="/"
                            max_depth="1"
                            add_unique_ids="entry_id"
                            include_ul="no"
                            current_class="selected"}
                    </ul>
                </nav>
                {if segment_1 == 'resources' && segment_2 == ''}
                <ul class="filters" id="filters">
                    <li><button class="filter selected" data-filter="*">view all</button></li>
                </ul>
                <div class="text-centered text-centered--wide text--nopad">
                    <div class="text-block purple small">
                        <p id="filterInfo"></p>
                    </div>
                </div>
                {/if}

                {if segment_1 == 'summary'}
                <nav class="subnav" id="subnav">
                    <ul>
                        {exp:structure:nav 
                            status="not closed"
                            start_from="/{segment_1}"
                            max_depth="1"
                            include_ul="no"
                            current_class="selected"}
                    </ul>
                </nav>
                {/if}
            </header>
            <!-- .main-header -->
