.container {
    @include flexbox;
    @include flex-direction(column);
    width: 95%;
    max-width: 865px;
    margin: 0 auto;
    position: relative;

    .resources & {
        display: block;
    }

    @media #{$screen} and (min-height: 700px) {
        height: 100%;
    }
}

.container-flush {
    max-width: none;
    width: 100%;
    min-height: 100%;

    &.container.sticky {
        padding: 0;
    }
}

.touch :not(.contact) .container {
    display: block;
}

.touch .container {
    min-height: 100%;
}

@media #{$medium-up} {
    .container.sticky {
        padding-top: 140px;
    }

    .resources .container.sticky {
        padding-top: 185px;
    }
}

a {
    display: inline-block;
    border-bottom: 1px solid rgba($link-hover, 0);
    @include transition(border-bottom-color 150ms ease, color 150ms ease);

    &:hover {
        border-bottom-color: rgba($link-hover, 1);
    }
}

a.tall-link {
    height: 18px;
    pointer-events: none;
    color: $purple;
    border: none;

    @media #{$medium-up} {
        height: 22px;
        pointer-events: all;
        color: $link;
        border-bottom: 1px solid rgba($link-hover, 0);

        &:hover {
            border-bottom-color: rgba($link-hover, 1);
        }

        &.disabled {
            color: $gradient2;
            pointer-events: none;
        }
    }
}

p {
    letter-spacing: 1px;
    @extend .antialiased;
}

.quote {
    border: none;

    &,
    cite {
        font-family: kim;
        text-align: center;
        color: $body-text;
        font-size: rem-calc(22);
        line-height: 1.25;
        letter-spacing: 1.9px;
        padding: 0 5px;

        @media #{$medium-up} {
            padding: 0 65px;
        }

        @extend .antialiased;
    }

    cite {
        font-style: normal;
    }
}

button {
    @include appearance(none);
    border: none;
}

i {
    font-style: normal;
}
