// Logo Colors
$teal: #70becd;
$dark-yellow: #e7b52c;
$light-yellow: #ffca2b;
$pink: #f77e85;
$light-pink: #fef2f3;
$green: #81ae71;
$light-green: #f2f7f1;

.teal { color: $teal; }
.dark-yellow { color: $dark-yellow; }
.light-yellow { color: $light-yellow; }
.pink { color: $pink; }
.green { color: $green; }

//$purple: #b6a2cd;
$purple: #663366;
$light-purple: #f0ecf5;
$dark-purple: #a59dae;

// Main Nav
$selected: $teal;
$main-nav-link: $purple;
$hover: $pink;

//Text Gradient Colors (Home/Contact)
$gradient1: $teal;
$gradient2: $purple;

// Body Text
$body-text: #a59dae;
$link: #d9959e;
$link-hover: #fdc52f;

// Resource Filters
// Normal
$category-text: #b6a2cd;
$category-bg: #f3eff7;
//Hover
$category-text-hover: #f77e85;
$category-bg-hover: #fee9ea;
//Selected
$category-text-selected: #70becd;
$category-bg-selected: #e7f4f7;

// Resource Tags
// Normal
$resource-tag-text: #70becd;
$resource-tag-bg: $category-bg-selected;
// Hover
$resource-tag-text-hover: #f77e85;
$resource-tag-bg-hover: $category-bg-hover;

