.main-header,
.main-footer {
    text-align: center;
    font-family: kim;
}

.main-header {
    margin-bottom: rem-calc(16);
}

@media #{$medium-up} {
    .overview .main-header {
        margin-bottom: 0;
    }
}

.classroom .main-header {
    position: absolute;
    left: 2.5%;
    right: 2.5%;
    z-index: 1;
}

.main-footer {
    color: $teal;
    letter-spacing: 2.1px;
    padding-bottom: rem-calc(16);

    a {
        height: 18px;
        color: $purple;
    }

    p {
        margin: 0;
    }
}

@media #{$medium-up} {
    .sticky .main-header {
        background-color: white;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-backface-visibility: hidden;
        @include box-shadow(0 10px 70px 30px rgba(255, 255, 255, 0.7));

        &:after {
            content: '';
            display: block;
            height: 11px;
            position: absolute;
            bottom: -6px;
            left: 5px;
            right: 5px;
            margin: auto;
            background-image: url('/assets/img/wavy-line.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .sticky.container-flush .main-header {
        background: transparent;
        @include box-shadow(none);

        &:after {
            content: none;
        }
    }
}

@media #{$screen} and (min-width: 730px) {
    .sticky .main-header:after {
        left: 15px;
        right: 15px;
    }
}



.main-header .wrapper {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
}

.menu-button {
    font-size: rem-calc(26);
    background: none;
    padding: 5px;
    margin: 0;
    border: none;
    font-family: Arial, sans-serif;
    color: $main-nav-link;
    @include transition(color 150ms ease);

    &:focus,
    &:active {
        color: inherit;
        outline: none;
        border: none;
        background: none;
    }

    &:hover {
        color: $hover;
        background: none;
    }
}

.undecorated {
    border: none;
    @include transition(none);
}

.logo {
    color: transparent;
    margin: 0;
    letter-spacing: 2.1px;
    @extend .antialiased;

    span {
        font-family: kim;
        font-size: rem-calc(25);
        vertical-align: text-top;
        opacity: 0;
        @include transition(color 200ms ease 0ms, opacity 500ms ease 0ms);
    }
}

.logo.loaded span {
    opacity: 1;
}

@media #{$medium-up} {
    .main-header .wrapper {
        display: block;
    }

    .menu-button {
        display: none;
    }

    .logo {
        span {
            font-size: rem-calc(35);
        }
    }
}

.main-menu {
    padding: 0;
    max-width: 570px;
    margin: 0 10px 15px;
    list-style-type: none;
    display: none;
    @extend .antialiased;

    @media #{$screen} and (min-width: 730px) {
        margin: 0 auto 15px;
        height: 22px;
    }

    &.show {
        display: block;
    }

    li {
        font-size: rem-calc(23);
        letter-spacing: 2.1px;
    }

    a {
        color: $purple;
        border: none;
        display: block;

        &.selected {
            color: $selected;
        }

        &:hover {
            color: $pink;
        }

        &:focus {
            outline: none;
            border-bottom: 1px $purple dotted;
        }
    }
}

.main-menu,
.main-menu.show {
    @media #{$medium-up} {
        @include flexbox;
        @include justify-content(space-between);
    }
}

.arrow {
    display: block;
    position: fixed;
    bottom: 45px;
    width: 39px;
    height: 51px;
    right: 45px;
    opacity: 0;
    @include transition(opacity 50ms);

    &:hover {
        border: none;
    }

    .resources & {
        background-image: url(/assets/img/arrows/red-arrow.png);
    }

    .blog &,
    .resources-detail &,
    .about & {
        background-image: url(/assets/img/arrows/blue-arrow.png);
    }

    .blog &,
    .resources-detail & {
        left: 50px;
        right: auto;
    }

    @media #{$screen} and (min-width: 930px) {
        .blog &,
        .resources-detail & {
            right: 45px;
            left: auto;
        }
    }
}

@media #{$small-only} {
    .arrow {
        display: none;
    }
}
