@font-face {
    font-family: kim;
    src: url('/assets/fonts/kim.ttf') format('truetype');
    font-style: normal;
    font-size: rem-calc(16);
    font-weight: 400;
}

#homeImg {
    opacity: 0;
    @include scale(0.8);
    @include transition(transform 750ms ease-in-out, opacity 750ms ease-in-out);

    &.loaded {
        @include scale(1);
        opacity: 1;
    }
}

.home {
    .grid-item {
        opacity: 0;
        @include scale(0.8);

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                @include transition(opacity 200ms cubic-bezier(.12,.4,.31,1.47) #{(550 + ($i*200)) + 'ms'},
                transform 200ms cubic-bezier(.12,.4,.31,1.47) #{(550 + ($i*200)) + 'ms'} );
            }
        }
    }

    .grid.loaded .grid-item {
        opacity: 1;
        @include scale(1);
    }
}
// .home {
//     #nav,
//     #homeFooter {
//         opacity: 0;
//         @include transition(opacity 250ms ease-out);
// 
//         &.loaded {
//             pointer-events: all;
//             opacity: 1;
//         }
//     }
// }

@media #{$medium-up} {
}
