.l-content {
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    padding: 0 25px 25px;
    z-index: 0;
}

.l-content--flex-main {
    position: relative;
}

.l-content--flex-aside {
    margin-bottom: 1rem;

    @media #{$medium-up} {
        margin-bottom: 0;
    }

    > * {
        margin-bottom: 1rem;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.l-content--viewbox {

    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 1rem;

        opacity: 0;
        z-index: -1;
        @include transition(opacity 150ms ease);

        @media #{$medium-up} {
            margin: 1rem;
        }
    }

    .selected {
        opacity: 1;
        z-index: 1;
        @include transition(opacity 150ms ease);
    }
}

.l-content--centered {
    margin: auto;
    max-width: 830px;

    @media #{$medium-up} {
        padding: 0 25px;
    }
}

.l-content--slim {
    padding: 0;
}

.l-fixbody {
    overflow: hidden;
}

.l-content--highstack {
    z-index: 1;
}

@media #{$medium-up} {
    .l-content--flex {
        padding: 0;
        @include flexbox;
    }
    .l-content--flex-main {
        @include flex(2);
    }
    .l-content--flex-aside {
        @include flex(1);
    }
}

@media #{$screen} and (min-width: rem-calc(730)) {
    .l-content--flex-resources {
        padding: 0;
        @include flexbox;
    }
    .l-content--flex-resources-main {
        @include flex(2);
    }
    .l-content--flex-resources-aside {
        @include flex(1);
    }
}

.layout-image {
    position: relative;
    margin-bottom: 1.25rem;
    z-index: 0;
    opacity: 0;
    @include transition(opacity 250ms ease-out);

    .layout-image-is-visible & {
        opacity: 1;
    }
}

.l-inline-row {
    @extend .clearfix;
}
.l-inline {
    margin-bottom: 1rem;
    &:only-child {
        margin: 0 auto;
        float: none;
    }

    @media #{$medium-up} {
        padding: 0 7px;
        float: left;

        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }

}

.l-inline--nobreak {
    white-space: nowrap;
}

.l-inline-auto {
    display: inline-block;
    margin-bottom: 0;
}

@media #{$medium-up} {
    @for $i from 1 through 8 {
        .l-inline-#{$i} {
            width: $i/8 * 100%;
        }
    }
    .l-inline-height50 {
        height: 50px;

        > * {
            height: 100%;
        }
    }
    .l-inline--low-row {
        padding-top: 25px;
    }
}
