.l-content {
    width: 100%;
    margin: 0 auto;
    max-width: 766px;
    padding: 0 25px;
    overflow: auto;

    @media #{$medium-up} {
        overflow: visible;
    }
}

.l-content--centered {
    margin: auto;
    padding: 65px 25px;
}

.l-content--slim {
    padding: 0;
}

.l-fixbody {
    overflow: hidden;
}

.l-content--highstack {
    z-index: 1;
}

@media #{$medium-up} {
    .l-content--flex {
        padding: 0;
        @include flexbox;
    }
    .l-content--flex-main {
        @include flex(2);
    }
    .l-content--flex-aside {
        @include flex(1);
    }
}

.layout-image {
    position: relative;
    margin-bottom: 1.25rem;
    z-index: 0;
}

.l-inline-row {
    @extend .clearfix;
}
.l-inline {
    margin-bottom: 1rem;
    &:only-child {
        margin: 0 auto;
        float: none;
    }

    @media #{$medium-up} {
        padding: 0 7px;
        float: left;

        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }

}

.l-inline--nobreak {
    white-space: nowrap;
}

.l-inline-auto {
    display: inline-block;
    margin-bottom: 0;
}

@media #{$medium-up} {
    @for $i from 1 through 8 {
        .l-inline-#{$i} {
            width: $i/8 * 100%;
        }
    }
    .l-inline-height50 {
        height: 50px;

        > * {
            height: 100%;
        }
    }
    .l-inline--low-row {
        padding-top: 25px;
    }
}
