.btn {
    position: relative;
    line-height: 0.7;
    color: white;
    font-size: rem-calc(19);
    letter-spacing: 2px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    @extend .antialiased;
    @include transition(color 150ms ease, background-color 150ms ease);

    &:focus {
        outline: 1px $purple dotted;
    }

    &:active {
        outline: none;
    }
}

.btn--purple {
    margin: 0;
    padding: 25px;
    border-radius: 3px;
    background-color: rgba($purple, 0.1);
    color: $purple;

    &:hover {
        color: #f0ecf5;
        background-color: rgba($purple, 1);
    }
}

.btn--inline {
    display: inline-block;
    padding: 25px 45px;
    margin: 0;
    border-radius: 3px;
}

.btn--yellow {
    color: white;
    background-color: rgba($light-yellow, 1);

    &:hover {
        background-color: rgba($light-yellow, 0.5);
    }
}
