.grid {
    margin: 0 auto;
    padding: 0;
    max-width: 851px;
    width: 100%;
    height: 100%;
    position: relative;
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-content(space-around);

    &.grid--inline {
        @include justify-content(space-between);
        text-align: justify;
        font-size: 0;
    }
}

.grid--dividers {
    position: relative;

    > .grid-item {
        margin: 25px 0;
        @include flexbox;

        .title { @include transition(color 150ms ease); }

        &:hover .title {
            color: $pink;
        }
    }

    .panel {
        @include flexbox;
        @include flex-direction(column);

        .flexbox & {
            padding: 0;
        }
    }

    .text-block {
        margin: 0 auto;
        @include flex-basis(120px);

        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(space-around);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &:before {
        background-image: url(/assets/img/v-line.png), url(/assets/img/v-line.png);
        background-position: 33% center, 66% center;
        background-repeat: no-repeat;
    }

    &:after {
        background-image: url(/assets/img/h-line.png), url(/assets/img/h-line.png);
        background-position: center 33%, center 66%;
        background-repeat: no-repeat;
    }
}

.grid--fade-in {
    opacity: 0;
    @include transition(opacity 250ms ease-out);

    .grid-is-visible & {
        opacity: 1;
    }
}

.grid-item {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

    @include flex(1 0 260px);

    .grid--three & {
        width: 100%;
        @include flex(0 0 100%);

        @media #{$medium-up} {
            width: 32%;
            @include flex-basis(32%);
        }
    }

    .grid--inline & {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 1rem;
    }

    &.center-vh {
        @include flexbox;
        text-align: center;

        > * {
            margin: auto;
        }
    }
}

.grid-item--polaroid {
    height: 293px;
    width: 275px;
    margin-bottom: 20px;
    z-index: 0;
    opacity: 0;
    @include transition(opacity 250ms ease-out);

    &.loaded {
        opacity: 1;
    }

    @media #{$medium-up} {
        margin-right: 13px;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.grid-content {
    text-align: center;
    font-family: kim;
    letter-spacing: 2px;
    color: $purple;
    @extend .antialiased;
}

.grid-img {}

.grid-header {
    font-family: kim;
    color: $purple;
    font-size: rem-calc(35);
    line-height: 1;
    margin: 0;
}

.grid-text {
    font-size: rem-calc(23);
    margin: rem-calc(10) 0;
    line-height: 1;
}

.grid-link {
    color: $purple;
    font-size: rem-calc(18);
}
