// icons
.icon {
    position: absolute;
    border: none;
    @include transition(none);
}

.icon-inline {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.icon-zoom {
    right: 4%;
    bottom: 4%;
    //z-index: 2;
}

.icon-plus {
    display: block;
}

.icon-plus--blue {
    height: 24px;
    width: 24px;
    background-image: url('/assets/img/blue-plus.png');
}

.icon-plus--pink {
    height: 48px;
    width: 51px;
    background-image: url('/assets/img/pink-plus.png');
}

.white-arrow {
    background-image: url(/assets/img/sprites/right-arrow.png);
    height: 14px;
    width: 8px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
}
