.panel {
    padding: 18px 13px;
    text-decoration: none;
    border: none;
    width: 100%;

    @include transition(background-color 150ms ease, color 150ms ease);

    &:hover {
        border: none;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &.panel--hover {
        background-color: transparent;
    }
}

.panel--purple {
    background-color: rgba($purple, 0.1);
    color: $purple;

    &:hover {
        background-color: rgba($purple, 1);
        color: $light-purple;
    }

    &.selected,
    &.panel--hover:hover {
        background-color: rgba($teal, 0.1);
        color: $teal;
    }
}

.panel--green {
    background-color: rgba($green, 0.1);
    color: $green;

    &:hover {
        background-color: rgba($green, 1);
        color: $light-green;
    }
}

.panel--pink {
    background-color: rgba($pink, 0.1);
    color: $pink;

    &:hover {
        background-color: rgba($pink, 1);
        color: $light-pink;
    }
}
