.text-centered {
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
}

.text-centered--wide {
    max-width: 800px;
    padding: 0 15px;
}

.text-centered--bottom {
    margin-bottom: rem-calc(44);
}

.text-body {
    color: $teal;
    font-family: kim;
    font-size: rem-calc(22);
    line-height: 1;
    // use p bottom margin
    // margin-bottom: 0;
    
    > p {
        letter-spacing: 2.1px;
    }

    @extend .antialiased;

    @media #{$medium-up} {
        font-size: rem-calc(22);
        letter-spacing: 2.1px;
        line-height: 1.15;
        padding: 0;
    }
}

.text-body--display {
    font-size: rem-calc(56);
    color: white;
    max-width: 402px;
    line-height: 0.8;
    margin: 0 auto;
}

.text-body--purple {
    color: $purple;
}

.text-block {

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        font-family: kim;
        text-align: center;
        @extend .antialiased;
        letter-spacing: 1px;

        .about & {
            text-transform: lowercase;
            margin-bottom: 1rem;
        }
    }

    > .title {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    > p:not(.title) {
        font-size: 0.7em;

        &:first-of-type {
            margin-top: 0;
        }
    }

    > ul,
    > ol {
        font-size: 0.7em;
        @extend .antialiased;
        letter-spacing: 1px;

        > li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.body {
        color: $body-text;
    }

    &.purple {
        color: $purple;
    }

    &.pink {
        color: $pink;
    }

    &.hand {
        font-family: kim;
        letter-spacing: 2.1px;
        line-height: 1;
        @extend .antialiased;

        > .title { text-transform: lowercase; }
    }

    &.small {
        font-size: 20px;
        font-size: rem-calc(20);
    }

    &.medium {
        font-size: 26px;
        font-size: rem-calc(26);
    }

    &.centered {
        text-align: center;
    }
}
