.classroom-wrapper {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

.classroom-layer {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    @include transition(opacity 150ms ease);

    &.fade-out {
        opacity: 0;
    }
}

.classroom-layer--black {
    opacity: 0.45;
    background: black;
    position: fixed;
    bottom: 0;
}
