.image-zoom {
    position: absolute;
    height: 24px;
    width: 24px;
    display: block;
    right: 4%;
    bottom: 4%;
    cursor: pointer;
    z-index: 2;
}

.image-zoom--blue {
    background-image: url('/assets/img/blue-plus.png');
}

.lightbox {
    display: inline;
    border: none;
    @include transition(none);
}
