            </div>
        <!-- .container -->
        <a href="#" class="arrow" id="arrow" data-start="opacity: 0;" data-100="opacity: 1;"></a>

        <script type="text/javascript" src="/assets/js/lib/modernizr/custom.modernizr.js"></script>
        <script type="text/javascript" src="/assets/js/lib/lodash/lodash.min.js"></script>
        <script type="text/javascript" src="/assets/js/lib/jquery/animate-jquery.js"></script>
        <script type="text/javascript" src="/assets/bower_components/fastclick/lib/fastclick.js"></script>
        <script type="text/javascript" src="/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/js/build/main.js"></script>
        {if segment_1 == ''}
            <script src="/assets/js/lib/libgif/libgif.js"></script>
            <script src="/assets/js/build/home.js"></script>
        {/if}
        {if segment_1 == 'resources' AND segment_2 == ''}
            <script type="text/javascript" src="/assets/js/build/resources.js"></script>
        {/if}
    </body>
</html>

