<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildflower Montessori Approach</title>

        <link href="/assets/css/app.1401469973991162252.css" rel="stylesheet">
    </head>
    <body class="{stash:nav}">
        <div class="container{if "{stash:nav}" != "overview"} sticky{/if}">
            <header class="main-header" id="mainHeader">
                <div class="wrapper">
                    <button class="menu-button" id="menuButton">&#x2261;</button>
                    <h1 class="logo" id="logo">wildflower montessori</h1>
                </div>
                <!--<menu class="main-menu" id="nav" type="toolbar">-->
                    <!--<li><a href="/"{if "{stash:nav}" == "overview"} class="selected"{/if}>overview</a></li>-->
                    <!--<li><a href="/about"{if "{stash:nav}" == "about"} class="selected"{/if}>about</a></li>-->
                    <!--<li><a href="/classroom"{if "{stash:nav}" == "classroom"} class="selected"{/if}>classroom</a></li>-->
                    <!--<li><a href="/resources"{if "{stash:nav}" == "resources" OR "{stash:nav}" == "resources-detail"} class="selected"{/if}>resources</a></li>-->
                    <!--<li><a href="/blog"{if "{stash:nav}" == "blog"} class="selected"{/if}>blog</a></li>-->
                    <!--<li><a href="/start-a-school"{if "{stash:nav}" == "start-a-school"} class="selected"{/if}>start a school</a></li>-->
                    <!--<li><a href="/contact"{if "{stash:nav}" == "contact"} class="selected"{/if}>contact</a></li>-->
                <!--</menu>-->
                <!--<ul class="filters resource-filters" id="filters">-->
                    <!--<li><button class="filter selected" data-filter="*">view all</button></li>-->
                    <!--<li><button class="filter" data-filter="for-parents">for parents</button></li>-->
                    <!--<li><button class="filter" data-filter="for-teachers">for teachers</button></li>-->
                    <!--<li><button class="filter" data-filter="for-researchers">for researchers</button></li>-->
                    <!--<li><button class="filter" data-filter="lessons">lessons</button></li>-->
                    <!--<li><button class="filter" data-filter="food">food</button></li>-->
                <!--</ul>-->
            </header>
            <!-- .main-header -->
